[Unit]
Description = Dispatch Service
[Service]
User=roboshop
Environment=AMQP_HOST="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/{{component_name}}:AMQP_HOST token={{ vault_token }} url=http://vault-internal.saitejasroboshop.store:8200') }}"
Environment=AMQP_USER="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/{{component_name}}:AMQP_USER token={{ vault_token }} url=http://vault-internal.saitejasroboshop.store:8200') }}"
Environment=AMQP_PASS="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/{{component_name}}:AMQP_PASS token={{ vault_token }} url=http://vault-internal.saitejasroboshop.store:8200') }}"
ExecStart=/app/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target