[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/{{component_name}}:MONGO token={{ vault_token }} url=http://vault-internal.saitejasroboshop.store:8200') }}"
Environment=MONGO_URL="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/{{component_name}}:MONGO_URL token={{ vault_token }} url=http://vault-internal.saitejasroboshop.store:8200') }}"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target