[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/{{component_name}}:REDIS_HOST token={{ vault_token }} url=http://vault-internal.saitejasroboshop.store:8200') }}"
Environment=CATALOGUE_HOST="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/{{component_name}}:CATALOGUE_HOST token={{ vault_token }} url=http://vault-internal.saitejasroboshop.store:8200') }}"
Environment=CATALOGUE_PORT="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/{{component_name}}:CATALOGUE_PORT token={{ vault_token }} url=http://vault-internal.saitejasroboshop.store:8200') }}"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target